.card-container {
     min-width: 15vw;
     max-width: 250px;
     border: 1px solid black;
     display: flex;
     flex-direction: column;
     min-height: 300px;
     /* justify-content: space-around; */
     align-items: center;
     padding: 2em;
     box-sizing: border-box;

     -webkit-box-shadow: 10px 14px 36px -8px rgba(141,172,235,1);
     -moz-box-shadow: 10px 14px 36px -8px rgba(141,172,235,1);
     box-shadow: 10px 14px 36px -8px rgba(141,172,235,1);
}

.user-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.user-name {
    font-family: 1.1em;
    font-weight: 800;
    margin: 2em 0 1em;
}

.position {
    font-size: 0.9em;
    color: gray;
}

.button {
    background-color: dodgerblue;
    color: white;
    font-weight: 800;
    border: none;
    border-radius: 8px;
    padding: 0.8em 2.5em;
    margin-top: auto;

}
.button:hover {
    cursor: pointer;
    -webkit-box-shadow: 0px 30px 10px -15px rgba(147,180,245,1);
    -moz-box-shadow: 0px 30px 10px -15px rgba(147,180,245,1);
    box-shadow: 0px 30px 10px -15px rgba(147,180,245,1);
    background-color: rgb(112, 180, 248);
}

svg {
    fill: red;
}

/* Task:
Зробити контейнер розміром в поний viewport івідцентрувати елемент всерелині рівно посередині */


/* 
Flexbox

Parent container: 
Main axis (головна вісь)

Flex-direction - зміна напрямку головної осі (побічна крутиться разом з нею)

    row - головна горизонтальна зліва направо (default)
    column - головна вертикальна зверху вниз
    row-reverse - головна горизонтально справо наліво
    column-reverse - головна вертикально знизу вверх

Justify-content - розташування дітей всередині батька-флекса вздовж головної осі
    flex-start (default)
    center
    flex-end
    space-between - перший на початку, останій вкінці, інші рівномірно меж ними Х..Х..Х..Х
    space-around - один простір по боках і подвійний між іншими ..X....X....X....X..
    space-evenly - рівномірний простір між усіма ..X..X..X..X..

Across axis (побічна вісь)

align-items - вирівнювання дітей по побічній осі
    stretch
    flex-start - на початку побічной
    center - посередині
    flex-end - в кінці побічної

align-content - вирівнювання РЯДКІВ по побічній осі
    stretch
    flex-start
    center
    flex-end

align-items та align-content -взаємо-конфліктують

flex-flow: direction wrap (скорочення для двох властивостей)


Margin у flex нє схлопується

Child

*/